<section id="home" class="h-screen bg-no-repeat bg-cover bg-fixed bg-image-home justify-center items-center flex">
  <div class="xl:flex items-center">
    <div class="h-80 w-80 rounded-full bg-photo bg-cover xl:mr-7 mb-7"></div>
    <div class="text-center text-white text-xl">
      <h1>URIART</h1>
      <p>SOFTWARE DEVELOPER</p>
    </div>
  </div>
</section>

<section id="about" class="xl:w-3/4 bg-slate-600 m-auto">
  <h1 class="my-14 text-3xl">About me</h1>
  <div class="xl:flex text-2xl">
    <div class="bg-slate-400 xl:w-2/4 p-10">
      <h1>I'm Oriol Artes softwarwe developer</h1>
      <br>
      <p>
        Me considero una persona curiosa por naturaleza, apasionado de las nuevas tecnologías con ganas de aprender. Ambicioso pero paciente, perfeccionista pero coherente y con sentido común.
        Titulado con el grado superior en Telecomunicaciones e Informática. Con conocimientos y experiencia en administración de sistemas informáticos en red.
      </p>
      <br>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Descargar currículum
      </button>
    </div>
    <div class="bg-slate-50 xl:w-2/4 p-10">
      <h1>Skills</h1>
      <div class="grid grid-cols-2 xl:grid-cols-3">
        <div class="bg-red-600 m-5 h-32 w-32"></div>
        <div class="bg-red-600 m-5 h-32 w-32"></div>
        <div class="bg-red-600 m-5 h-32 w-32"></div>
        <div class="bg-red-600 m-5 h-32 w-32"></div>
        <div class="bg-red-600 m-5 h-32 w-32"></div>
        <div class="bg-red-600 m-5 h-32 w-32"></div>
      </div>
    </div>
  </div>
</section>
